<form action="../checkout/create" method="post" id="checkout_form" class="needs-validation" novalidate>
    <button class="btn btn-primary btn-lg btn-block" type="submit">Pay using PayPal</button>
</form>
<br><br>
<a href="../checkout">
    <button class="btn btn-primary btn-lg btn-block" disabled>Pay using Credit Card</button>
</a>