<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      {{>CDN}}
  </head>
  {{>header}}
  <br><br><br>
    <div class="container">
        {{{body}}}
    </div>
  </body>
</html>
{{>script}}


