<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      {{>CDN}}
      {{>script}}
  </head>
  <body>
  {{>header}}
  <br><br><br>
  <div class="container">
      {{{body}}}
  </div>
  </body>
</html>


